<section>
  <div class="d-flex justify-content-end list-action">
    <!-- <div class="mb-3 action-item">
      <label for="assignedTo">Assigned to:</label>
      <select
        class="form-control"
        id="assignedTo"
        name="assignedTo"
        ng-model="$ctrl.tableParams.filter()['assignedTo']"
        required
      >
        <option ng-repeat="data in $ctrl.assignedTos" value="{{data.name}}">
          {{data.name}}
        </option>
      </select>
    </div> -->

    <!-- <div class="mb-3 action-item">
      <label for="leadSource">Lead source:</label>
      <select
        class="form-control"
        id="leadSource"
        name="leadSource"
        ng-model="$ctrl.tableParams.filter()['leadSource']"
        required
      >
        <option value=""></option>

        <option value="Existing Customer">Existing Customer</option>
        <option value="Partner">Partner</option>
        <option value="Conference">Conference</option>
        <option value="Website">Website</option>
        <option value="Word of mouth">Word of mouth</option>
        <option value="Other">Other</option>
      </select>
    </div> -->

    <div class="mb-3 action-item">
      <button
        ng-if="$ctrl.listId.id.length"
        class="btn btn-danger mr-2"
        ng-click="$ctrl.deleteMultiple()"
      >
        <i class="fa fa-trash"></i>
      </button>

      <button class="btn btn-primary" ng-click="$ctrl.create()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <loading loading="$ctrl.isLoading"></loading>

  <div
    class="content-table"
    ng-if="$ctrl.ngTableAssignedTos.length"
    ng-hide="$ctrl.isLoading"
  >
    <table
      ng-table="$ctrl.tableParams"
      class="table table-condensed table-bordered table-striped"
    >
      <tr ng-repeat="data in $data track by $index">
        <td header="'ng-table/headers/checkbox.html'">
          <div class="td-checkbox">
            <input
              id="{{data.id}}"
              ng-model="$ctrl.isSelected[data.id]"
              type="checkbox"
              ng-change="$ctrl.checkBox($ctrl.isSelected)"
            />
            <label class="checkbox" for="{{data.id}}"></label>
          </div>
        </td>

        <td data-title="'#'">{{$index+1}}</td>

        <td
          data-title="'CONTACT.NAME' | translate"
          filter="{ name: 'text'}"
          sortable="'name'"
        >
          {{data.name}}
        </td>

        <td data-title="'CONTACT.SALUTATION' | translate">
          {{data.salutation}}
        </td>

        <td data-title="'PHONE' | translate">{{data.phone}}</td>

        <td
          data-title="'EMAIL' | translate"
          filter="{ email: 'text'}"
          sortable="'email'"
        >
          {{data.email}}
        </td>

        <td
          data-title="'CONTACT.ORGANIZATION' | translate"
          sortable="'organization'"
        >
          {{data.organization}}
        </td>

        <td
          data-title="'CONTACT.DATE_OF_BIRTH' | translate"
          sortable="'dateOfBirth'"
        >
          {{data.dateOfBirth | date:'dd/MM/yyyy' }}
        </td>

        <td
          data-title="'CONTACT.ADDRESS' | translate"
          filter="{ address: 'text'}"
          sortable="'address'"
        >
          {{data.address}}
        </td>

        <td
          data-title="'LEAD_SOURCE' | translate"
          filter="{leadSource: 'select'}"
          filter-data="[{'title': 'Existing Customer', 'id': 'Existing Customer'},
                        {'title': 'Partner', 'id': 'Partner'},
                        {'title': 'Conference', 'id': 'Conference'},
                        {'title': 'Website', 'id': 'Website'},
                        {'title': 'Word of mouth', 'id': 'Word of mouth'},
                        {'title': 'Other', 'id': 'Other'},]"
          sortable="'leadSource'"
        >
          {{data.leadSource}}
        </td>
        <td
          data-title="'ASSIGNED_TO' | translate"
          filter="{assignedTo: 'select'}"
          filter-data="$ctrl.ngTableAssignedTos"
          sortable="'assignedTo'"
        >
          {{data.assignedTo}}
        </td>

        <td data-title="'CREATOR' | translate" sortable="'creator'">
          {{data.creator}}
        </td>

        <td data-title="'DESCRIPTION' | translate">{{data.description}}</td>

        <td data-title="'ACTION' | translate" class="d-flex">
          <button
            type="button"
            ng-click="$ctrl.edit(data.id)"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </button>

          <button
            ng-click="$ctrl.delete(data.id)"
            type="button"
            class="btn btn-danger ml-2"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="13" class="text-center" ng-show="$data.length == 0">
          Oops, no record found!
        </td>
      </tr>
    </table>
  </div>
  <script type="text/ng-template" id="ng-table/headers/checkbox.html">
    <input type="checkbox" ng-model="model.checkAlls" ng-change="checkAll(model.checkAlls)" id="checkAll"/>
    <label class="checkbox" for="checkAll"></label>
  </script>
</section>
