<form ng-submit="$ctrl.submit()" name="form" role="form">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="subject" class="form-label">Subject</label>
      <input
        type="text"
        class="form-control"
        id="subject"
        name="subject"
        placeholder="Subject"
        ng-model="$ctrl.subject"
        autocomplete="off"
        required
      />
      <div
        style="color: red"
        ng-show="form.subject.$dirty && form.subject.$invalid"
      >
        <p ng-show="form.subject.$error.required">The subject is required.</p>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="contactName" class="form-label">Contact name</label>
      <select
        class="form-control"
        id="contactName"
        ng-model="$ctrl.contactName"
        required
      >
        <option ng-repeat="data in $ctrl.contactNames" value="{{data.name}}">
          {{data.name}}
        </option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="status" class="form-label">Status</label>
      <select class="form-control" id="Status" ng-model="$ctrl.status" required>
        <option ng-selected="Created" value="Created">Created</option>
        <option value="Approved">Approved</option>
        <option value="Delivered">Delivered</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="total" class="form-label">Total</label>
      <input
        type="number"
        class="form-control"
        id="total"
        name="total"
        ng-model="$ctrl.total"
        autocomplete="off"
        placeholder="Total"
        required
      />
      <div
        style="color: red"
        ng-show="form.total.$dirty && form.total.$invalid"
      >
        <p ng-show="form.total.$error.required">The total is required.</p>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="name" class="form-label">Assigned to</label>
      <select
        class="form-control"
        id="assignedTo"
        name="assignedTo"
        ng-model="$ctrl.assignedTo"
        required
      >
        <option ng-repeat="data in $ctrl.assignedTos" value="{{data.name}}">
          {{data.name}}
        </option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="name" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        ng-model="$ctrl.description"
        rows="1"
      ></textarea>
    </div>

    <div class="form-group col-md-12 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
        Add
      </button>
    </div>
  </div>
</form>
