.sales-order-content {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
}

.created {
    color: #17a2b8;
    font-weight: bold;
}
.approved {
    color: #28a745;
    font-weight: bold;
}

.delivered {
    color: #007bff;
    font-weight: bold;
}

.cancelled {
    color: #dc3545;
    font-weight: bold;
}
