<section>
  <div class="d-flex justify-content-end list-action">
    <div class="mb-3 action-item">
      <button class="btn btn-primary" ng-click="$ctrl.create()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="content-table">
    <loading loading="$ctrl.isLoading"></loading>

    <table
      ng-table="$ctrl.tableParams"
      class="table table-condensed table-bordered table-striped"
      ng-hide="$ctrl.isLoading"
    >
      <tr ng-repeat="data in $data track by $index">
        <td data-title="'#'">{{$index+1}}</td>

        <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
          {{data.name}}
        </td>

        <td
          data-title="'User name'"
          filter="{ username: 'text'}"
          sortable="'username'"
        >
          {{data.username}}
        </td>

        <td data-title="'Email'" filter="{ email: 'text'}" sortable="'email'">
          {{data.email}}
        </td>

        <td data-title="'Phone'" filter="{ phone: 'number'}">{{data.phone}}</td>

        <td
          data-title="'Creator'"
          filter="{ creator: 'text'}"
          sortable="'creator'"
        >
          {{data.creator}}
        </td>
        <td
          class="text-center"
          data-title="'Active'"
          sortable="'isActive'"
          filter="{isActive: 'select'}"
          filter-data="[{'title': 'Yes', 'id': 'true'},
                        {'title': 'No', 'id': 'false'},]"
        >
          <div ng-if="data.isActive=='true'">
            <i class="fa fa-check"></i>
          </div>
          <div ng-if="data.isActive=='false'">
            <i class="fa fa-times"></i>
          </div>
        </td>

        <td data-title="'Action'" class="d-flex justify-content-center">
          <button
            type="button"
            ng-click="$ctrl.edit(data.id)"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </button>

          <!-- <button
            type="button"
            class="btn btn-danger ml-1"
            ng-click="$ctrl.open(data.id)"
          >
            <i class="fas fa-trash"></i>
          </button> -->
        </td>
      </tr>
      <tr>
        <td colspan="7" class="text-center" ng-show="$data.length == 0">
          Oops, no record found!
        </td>
      </tr>
    </table>
  </div>
</section>
