<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#!/contact">Contact</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create Contact</li>
    </ol>
  </nav>
  <div class="content-main">
    <div class="header text-center text-uppercase mb-3">
      <h1>create Contact</h1>
    </div>

    <form ng-submit="$ctrl.create()" name="form" role="form">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            ng-model="$ctrl.name"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="salutation" class="form-label">Salutation</label>
          <select
            class="form-control"
            id="salutation"
            name="salutation"
            ng-model="$ctrl.salutation"
          >
            <option value="None" ng-selected="None">None</option>

            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
            <option value="Dr">Dr</option>
            <option value="Prof">Prof</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Phone</label>
          <input
            type="number"
            class="form-control"
            id="phone"
            ng-model="$ctrl.phone"
            autocomplete="off"
            placeholder="Phone"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            ng-model="$ctrl.email"
            autocomplete="off"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Organization</label>
          <input
            type="text"
            class="form-control"
            id="organization"
            ng-model="$ctrl.organization"
            autocomplete="off"
            placeholder="Organization"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Date of birth</label>
          <input
            type="date"
            class="form-control"
            id="dob"
            ng-model="$ctrl.dateOfBirth"
            autocomplete="off"
            placeholder="Date of birth"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            ng-model="$ctrl.address"
            autocomplete="new-password"
            placeholder="Address"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="leadSource" class="form-label">Lead source</label>
          <select
            class="form-control"
            id="leadSource"
            name="leadSource"
            ng-model="$ctrl.leadSource"
            required
          >
            <option value="Existing Customer">Existing Customer</option>
            <option value="Partner">Partner</option>
            <option value="Conference">Conference</option>
            <option value="Website">Website</option>
            <option value="Word of mouth">Word of mouth</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            ng-model="$ctrl.description"
            autocomplete="off"
            placeholder="Description"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="name" class="form-label">Assigned to</label>
          <select
            class="form-control"
            id="assignedTo"
            name="assignedTo"
            ng-model="$ctrl.assignedTo"
            required
          >
            <option ng-repeat="data in $ctrl.assignedTos" value="{{data.name}}">
              {{data.name}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-12 d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-primary"
            ng-disabled="form.$invalid"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
