<table style="width: 100%" class="table">
  <thead>
    <tr>
      <th ng-repeat="item in data.headList">{{ item }}</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in data.rowList">
      <td ng-repeat="key in data.key" class="{{key}}Table">{{item[key]}}</td>

      <td>
        <button
          ng-if="data.isEdit"
          type="button"
          ng-click="edit()"
          class="btn btn-success"
        >
          <i class="fas fa-edit"></i>
        </button>

        <button
          ng-if="data.isDelete"
          ng-click="$ctrl.open(item.id)"
          type="button"
          class="btn btn-danger ml-1"
        >
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" ng-click="editt()" class="btn btn-success">
  <i class="fas fa-edit"></i>
</button>
