<div class="dash-content dash-contact container-fluid">
  <div class="col-lg-12 title-header text-uppercase">
    <h5>contacts</h5>
  </div>

  <div class="loader" ng-show="$ctrl.loading"></div>

  <div class="row" ng-hide="$ctrl.loading">
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="small-box bg-info">
        <div class="inner">
          <h5>{{$ctrl.countExistingCustomer}}</h5>

          <p>Existing Customer</p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <p
          class="small-box-footer"
          ng-click="$ctrl.redirect('Existing Customer')"
        >
          More info <i class="fas fa-arrow-circle-right"></i>
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="small-box bg-success">
        <div class="inner">
          <h5>{{$ctrl.countPartner}}</h5>

          <p>Partner</p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="small-box-footer" ng-click="$ctrl.redirect('Partner')">
          More info <i class="fas fa-arrow-circle-right"></i>
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="small-box bg-primary">
        <div class="inner">
          <h5>{{$ctrl.countConference}}</h5>

          <p>Conference</p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="small-box-footer" ng-click="$ctrl.redirect('Conference')">
          More info <i class="fas fa-arrow-circle-right"></i>
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="small-box bg-dark">
        <div class="inner">
          <h5>{{$ctrl.countWebsite}}</h5>

          <p>Website</p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="small-box-footer" ng-click="$ctrl.redirect('Website')">
          More info <i class="fas fa-arrow-circle-right"></i>
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="small-box bg-warning">
        <div class="inner">
          <h5>{{$ctrl.countWordOfMouth}}</h5>

          <p>Word of mouth</p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="small-box-footer" ng-click="$ctrl.redirect('Word of mouth')">
          More info <i class="fas fa-arrow-circle-right"></i>
        </p>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <div class="small-box bg-secondary">
        <div class="inner">
          <h5>{{$ctrl.countOther}}</h5>

          <p>Other</p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="small-box-footer" ng-click="$ctrl.redirect('Other')">
          More info <i class="fas fa-arrow-circle-right"></i>
        </p>
      </div>
    </div>
  </div>
</div>
