<section ng-if="$ctrl.ngTableAssignedTos.length">
  <div class="d-flex justify-content-end list-action">
    <!-- <div class="mb-3 action-item">
      <label for="assignedTo">Assigned to:</label>
      <select
        class="form-control"
        id="assignedTo"
        name="assignedTo"
        ng-model="$ctrl.tableParams.filter()['assignedTo']"
        required
      >
        <option ng-repeat="data in $ctrl.assignedTos" value="{{data.name}}">
          {{data.name}}
        </option>
      </select>
    </div> -->

    <!-- <div class="mb-3 action-item">
      <label for="leadSource">Lead source:</label>
      <select
        class="form-control"
        id="leadSource"
        name="leadSource"
        ng-model="$ctrl.tableParams.filter()['leadSource']"
        required
      >
        <option value=""></option>

        <option value="Existing Customer">Existing Customer</option>
        <option value="Partner">Partner</option>
        <option value="Conference">Conference</option>
        <option value="Website">Website</option>
        <option value="Word of mouth">Word of mouth</option>
        <option value="Other">Other</option>
      </select>
    </div> -->

    <div class="mb-3 action-item">
      <button class="btn btn-primary" ng-click="$ctrl.create()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="content-table">
    <div class="loader" ng-show="$ctrl.loading"></div>

    <table
      ng-hide="$ctrl.loading"
      ng-table="$ctrl.tableParams"
      class="table table-condensed table-bordered table-striped"
    >
      <tr ng-repeat="data in $data track by $index">
        <td data-title="'#'">{{$index+1}}</td>

        <td data-title="'Name'" filter="{ name: 'text'}" sortable="'name'">
          {{data.name}}
        </td>

        <td data-title="'salutation'">{{data.salutation}}</td>

        <td data-title="'Phone'">{{data.phone}}</td>

        <td data-title="'Email'" filter="{ email: 'text'}" sortable="'email'">
          {{data.email}}
        </td>

        <td data-title="'Organization'" sortable="'organization'">
          {{data.organization}}
        </td>

        <td data-title="'Date of birth'" sortable="'dateOfBirth'">
          {{data.dateOfBirth | date:'dd/MM/yyyy' }}
        </td>

        <td
          data-title="'Address'"
          filter="{ address: 'text'}"
          sortable="'address'"
        >
          {{data.address}}
        </td>

        <td
          data-title="'Lead source'"
          filter="{leadSource: 'select'}"
          filter-data="[{'title': 'Existing Customer', 'id': 'Existing Customer'},
                        {'title': 'Partner', 'id': 'Partner'},
                        {'title': 'Conference', 'id': 'Conference'},
                        {'title': 'Website', 'id': 'Website'},
                        {'title': 'Word of mouth', 'id': 'Word of mouth'},
                        {'title': 'Other', 'id': 'Other'},]"
          sortable="'leadSource'"
        >
          {{data.leadSource}}
        </td>
        <td
          data-title="'Assigned to'"
          filter="{assignedTo: 'select'}"
          filter-data="$ctrl.ngTableAssignedTos"
          sortable="'assignedTo'"
        >
          {{data.assignedTo}}
        </td>

        <td data-title="'Creator'" sortable="'creator'">{{data.creator}}</td>

        <td data-title="'Description'">{{data.description}}</td>

        <td data-title="'Action'" class="d-flex">
          
          <button
            type="button"
            ng-click="$ctrl.edit(data.id)"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </button>

          <button
            ng-click="$ctrl.open(data.id)"
            type="button"
            class="btn btn-danger ml-1"
          >
            <i class="fas fa-trash"></i>
          </button>

        </td>
      </tr>
      <tr>
        <td colspan="13" class="text-center" ng-show="$data.length == 0">
          Oops, no record found!
        </td>
      </tr>
    </table>
  </div>
</section>
