<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 login-sec">
        <h2 class="text-center">Change Password</h2>
        <form role="form" name="form">
          <div class="form-group">
            <label for="oldPass">Old Password</label>
            <input type="password" class="form-control" id="oldPass" name="oldPass" ng-model="$ctrl.oldPass" required />
            <div style="color: red" ng-show="form.oldPass.$dirty && form.oldPass.$invalid">
              <p ng-show="form.oldPass.$error.required">Old Password is required.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="newPass">New password</label>
            <input type="password" class="form-control" id="newPass" name="newPass" ng-model="$ctrl.newPass"
              ng-pattern="$ctrl.regexPassword" required />
            <div style="color: red" ng-show="form.newPass.$dirty && form.newPass.$invalid">
              <p ng-show="form.newPass.$error.required">New password is required.</p>
              <p ng-show="form.newPass.$error.pattern">A new password must be eight characters including one uppercase letter, one special character, and alphanumeric characters?</p>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPass">Confirm password</label>
            <input type="password" class="form-control" id="confirmPass" name="confirmPass" ng-model="$ctrl.confirmPass"ng-pattern="$ctrl.regexPassword" required />
            <div style="color: red" ng-show="form.confirmPass.$dirty && form.confirmPass.$invalid">
              <p ng-show="form.confirmPass.$error.required">New password is required.</p>
              <p ng-show="form.confirmPass.$error.pattern">A confirm password must be eight characters including one uppercase letter, one special character, and alphanumeric characters?</p>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="$ctrl.change()">
            Change
          </button>
        </form>
      </div>
    </div>
</section>