<section>
  <div class="d-flex justify-content-end list-action">
    <div class="mb-3 action-item">
      <button class="btn btn-primary" ng-click="$ctrl.create()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="content-table">
    <div class="loader" ng-show="$ctrl.loading"></div>

    <table
      ng-hide="$ctrl.loading"
      ng-table="$ctrl.tableParams"
      show-filter="true"
      class="table table-condensed table-bordered table-striped"
    >
      <tr ng-repeat="data in $data track by $index">
        <td data-title="'#'">{{$index+1}}</td>

        <td
          data-title="'Subject'"
          filter="{ subject: 'text'}"
          sortable="'subject'"
        >
          {{data.subject}}
        </td>
        <td
          data-title="'ContactName'"
          filter="{ contactName: 'text'}"
          sortable="'contactName'"
        >
          {{data.contactName}}
        </td>
        <td
          data-title="'Status'"
          filter="{ status: 'text'}"
          sortable="'status'"
        >
          {{data.status}}
        </td>
        <td data-title="'Total'" filter="{ total: 'number'}" sortable="'total'">
          {{data.total}}
        </td>

        <td
          data-title="'Creator'"
          filter="{ creator: 'text'}"
          sortable="'creator'"
        >
          {{data.creator}}
        </td>
        <td
          data-title="'assignedTo'"
          filter="{ assignedTo: 'text'}"
          sortable="'assignedTo'"
        >
          {{data.assignedTo}}
        </td>
        <td
          data-title="'Description'"
          filter="{ description: 'text'}"
          sortable="'description'"
        >
          {{data.description}}
        </td>

        <td data-title="'Action'">
          <button
            type="button"
            ng-click="$ctrl.edit(data.id)"
            class="btn btn-success"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            ng-click="$ctrl.delete(data.id)"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      <!-- </tbody> -->
    </table>
  </div>
</section>
