<!-- <div ng-controller="movieController">
    {{movie}}
    <input type="text" ng-model="movie" />

    <movie-directive></movie-directive>
</div> -->

<div>
  <h2>Movie Name : {{$ctrl.movie}}</h2>
  <h3>Rating : {{$ctrl.rating}}</h3>
  <input type="text" ng-model="$ctrl.movie" />

  <hr />

  <!-- <movie-directive movie="movie" rating="{{rating}}" display="display(movie)">
      <div>dcdcdcd</div>
    </movie-directive> -->

  <div
    movie-directive
    movie="$ctrl.movie"
    rating="$ctrl.rating"
    display="$ctrl.display($ctrl.movie)"
    add="$ctrl.add()"
  >
    <div>dcdcdcd</div>
  </div>
</div>
