<!-- <div>Movie title : {{ movie}}</div> -->

<!-- <form>
  Type a new movie title : <input type="text" ng-model=" movie" />
  <div>Movie rating : {{rating}}</div>

  Rate the movie : <input type="text" ng-model="rating" />
  <button type="submit" ng-click="add()">submit</button>
</form>

<div><button ng-click="display()">View Movie</button></div>

<div>{{abc}}</div> -->

<!-- <div>Movie title : {{$ctrl.movie}}</div> -->

<!-- <form>
  Type a new movie title : <input type="text" ng-model="movie" />
  <div>Movie rating : {{rating}}</div>

  Rate the movie : <input type="text" ng-model="rating" />
  <button type="submit" ng-click="add()">submit</button>
</form>

<div><button ng-click="display()">View Movie</button></div>

<div>{{abc}}</div> -->

<!-- <div>{{vm.abc}}</div>
<input type="text" ng-model="vm.abc" />
<button ng-click="vm.c()">click</button> -->
<div>{{abc}}</div>
<div>{{abd}}</div>
