<!-- <div ng-controller="movieController">
  {{movie}}
  <input type="text" ng-model="movie" />
</div> -->

<!-- <div>
  <h2>Movie Name : {{ movie}}</h2>
  <h3>Rating : {{rating}}</h3>
  <input type="text" ng-model="movie" />

  <hr /> -->

<!-- <movie-directive movie="movie" rating="{{rating}}" display="display(movie)">
      <div>dcdcdcd</div>
    </movie-directive> -->
<!-- 
  <div
    movie-directive
    movie="$ctrl.movie"
    rating="{{$ctrl.rating}}"
    display="$ctrl.display($ctrl.movie)"
    add="$ctrl.add()"
  >
    <div>dcdcdcd</div>
  </div>
</div> -->
<!-- </div> -->
<!-- <div movie-directive></div> -->

<input-directive
  ng-model="$ctrl.text"
  ng-change="$ctrl.change()"
  ng-click="$ctrl.show()"
></input-directive>

<!-- <input-directive text="$ctrl.text"></input-directive> -->
<!-- <input type="text" ng-model="$ctrl.movie" /> -->

<button ng-click="$ctrl.show()">click</button>

<table-directive
  data="$ctrl.data"
  edit="$ctrl.edit(id, data)"
></table-directive>

<movie-directive
  movie="$ctrl.moviee"
  rating="{{$ctrl.rating}}"
  time-movie="$ctrl.timeMovie"
  display="$ctrl.display($ctrl.moviee)"
  add="$ctrl.showMovie()"
></movie-directive>

<!-- </div> -->
<!-- <p>{{ $ctrl.password | passwordFilter}}</p>
<p>{{ $ctrl.password | base64Filter}}</p>
<p>{{ $ctrl.password | base64Filter | base64DecodeFilter}}</p> -->
