<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#!/sales-order">User</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create user</li>
    </ol>
  </nav>

  <div class="header text-center text-uppercase mb-3">
    <h1>Create User</h1>
  </div>

  <form ng-submit="$ctrl.create()" name="form" role="form">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Name"
          ng-model="$ctrl.name"
          autocomplete="off"
          required
        />
      </div>

      <div class="form-group col-md-6">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          placeholder="Username"
          ng-model="$ctrl.username"
          autocomplete="off"
          required
        />
      </div>

      <div class="form-group col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          ng-model="$ctrl.email"
          autocomplete="off"
          placeholder="Email"
          required
        />
      </div>

      <div class="form-group col-md-6">
        <label for="name" class="form-label">Phone</label>
        <input
          type="number"
          class="form-control"
          id="phone"
          ng-model="$ctrl.phone"
          autocomplete="off"
          placeholder="Phone"
          required
        />
      </div>

      <div class="form-group col-md-12 d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-primary"
          ng-disabled="form.$invalid"
        >
          Add
        </button>
      </div>
    </div>
  </form>
</div>
