<link rel="stylesheet" ng-href="{{css}}" />

<div>
  <div class="">
    <form>
      <div class="row">
        <div class="form-group col-md-6">
          <input
            type="text"
            class="form-control"
            id="Name"
            placeholder="Name"
            ng-model="name"
            autocomplete="off"
          />
        </div>
        <div class="form-group col-md-6">
          <input
            type="text"
            class="form-control"
            id="Price"
            placeholder="Price"
            autocomplete="off"
            ng-model="price"
          />
        </div>
        <div class="form-group col-md-12">
          <input
            type="text"
            class="form-control"
            id="Image"
            ng-model="image"
            autocomplete="off"
            placeholder="Image"
          />
        </div>
        <div class="form-group col-md-12">
          <button ng-click="add()" class="btn btn-primary">
            {{btnText?"Add":"Update"}}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="overflow-auto">
    <div class="loader" ng-show="loading"></div>
    <table class="table" border="1" ng-show="!loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in products track by $index">
          <td scope="row">{{$index+1}}</td>

          <td scope="row">{{data.name}}</td>
          <td scope="row">{{data.price}}</td>
          <td>
            <img
              style="width: 100px"
              ng-src="{{data.image}}"
              alt="{{data.image}}"
            />
          </td>
          <td>
            <button
              type="button"
              ng-click="edit(data.id)"
              class="btn btn-success"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              ng-click="delete(data.id)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
